@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-color: rgb(44, 60, 85);
    --sky-blue:  rgba(110, 144, 197, 0.56);
}

.hero {
    background-color: var(--sky-blue);
}

.ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
  }  

.bg-footer {
    background-color: var(--footer-color);
}